<div class="card shadow-sm">
    {# refs: https://picsum.photos/ #}
    <img src={{song.cover_url}} alt={{song.name}} class="cart-img-top" />

    <div class="card-body">
        <p class="card-text">
            {{song.artist_name}}|{{song.name}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{song.melon_detail_url}}" type="button" class="btn btn-sm btn-outline-secondary">melon</button>
                <a href="{{song.youtube_search_url}}" type="button" class="btn btn-sm btn-outline-secondary">youtube</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
        </div>
    </div>
</div>